<div class="section is-widescreen is-centered">
  <div class="box">
    <i class="fa fa-lightbulb-o"></i>

    <br />
    <a href="/on" class="button is-warning is-medium">Ligar</a>
    <a href="/off" class="button is-warning is-medium">Desligar</a>
  </div>
</div>
