<div class="section is-widescreen is-centered">
  <p><i class="fa fa-lightbulb-o"></i></p>

  <br />

  <a href="/on" class="button is-primary">Ligar</a>
  <a href="/off" class="button is-primary is-outlined">Desligar</a>
</div>
